*.crswap
*.log*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.cache
.env
.env.*.local
.env.local
.idea
.nitro
.nuxt
.output
.vercel
.vscode
dist
node_modules

# We are not using Zero-Installs.
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
