*.crswap
*.log*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.cache
.env
.env.*.local
.env.local
.idea
.nitro
.nuxt
.output
.vercel
.vscode
dev-dist
dist
firebase/data
node_modules
public/manifest.webmanifest
supabase
test/cypress/downloads
test/cypress/screenshots
test/cypress/videos

# We are not using Zero-Installs.
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignore code signing certificates
*.cer
*.certSigningRequest
*.p12
