*.certSigningRequest
*.crswap
*.log*
*.mobileprovision
*.njsproj
*.ntvs*
*.p12
*.sln
*.suo
*.sw?
.DS_Store
.cache
.env
.env.*.local
.env.local
.idea
.nitro
.nuxt
.output
.vercel
certificate.txt
dev-dist
dist
firebase/data
node_modules
public/manifest.webmanifest
supabase

# We are not using Zero-Installs.
# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
