<!DOCTYPE html>
<html lang="en" class="dark scroll-smooth scroll-pt-4">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0" />

    <meta property="og:description" content="Access your knowledge anywhere, anytime" />
    <meta property="og:image" content="https://octo.app/img/og.png" />
    <meta property="og:title" content="Build your second brain | Octo" />
    <meta property="og:url" content="https://octo.app" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@writewithocto" />
    <meta name="twitter:creator" content="@voraciousdev" />

    <title>Build your second brain | Octo</title>

    <link rel="icon" href="<%= BASE_URL %>img/icons/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@300;400;600;700&display=swap">

    <%- fathomScript %>
  </head>
  <body class="text-gray-900 dark:text-gray-300 bg-white dark:bg-gray-900">
    <noscript>
      <p>Build your second brain</p>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
