rules_version = '2'

service firebase.storage {
  match /b/{bucket}/o {
    match /{file=**} {
      allow read: if true
      allow create: if allowed() && ownsRequest()
      allow delete: if allowed() && ownsResource()
      allow update: if allowed() && ownsRequest() && ownsResource()
    }

    function allowed() {
      return authenticated() && underQuota() && (ambassador() || pro())
    }

    function ambassador() {
      return request.auth.token.ambassador
    }

    function authenticated() {
      return request.auth != null
    }

    function ownsResource() {
      return request.auth.uid == resource.metadata.ownerId
    }

    function ownsRequest() {
      return request.auth.uid == request.resource.metadata.ownerId
    }

    function pro() {
      return request.auth.token.stripeRole == 'subscriber'
    }

    function underQuota() {
      return request.resource.size < 10 * 1024 * 1024
    }
  }
}
