@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-brand: 255 102 102;
  --colors-primary: 59 130 246;

  /* dark:layer-0 */
  --dark-layer-0-bg: 24 24 27;
  --dark-layer-0-text: 212 212 216;

  /* dark:layer-1 */
  --dark-layer-1-bg: 18 18 18;
  --dark-layer-1-text: 212 212 216;

  /* dark:layer-2 */
  --dark-layer-2-bg: 39 39 42;
  --dark-layer-2-text: 212 212 216;

  /* dark:layer-3 */
  --dark-layer-3-bg: 63 63 70;
  --dark-layer-3-text: 212 212 216;

  /* dark:layer-4 */
  --dark-layer-4-bg: 82 82 91;
  --dark-layer-4-text: 212 212 216;

  /* dark:layer-5 */
  --dark-layer-5-bg: 113 113 122;
  --dark-layer-5-text: 212 212 216;

  /* light:layer-0 */
  --light-layer-0-bg: 255 255 255;
  --light-layer-0-text: 24 24 27;

  /* light:layer-1 */
  --light-layer-1-bg: 244 244 245;
  --light-layer-1-text: 24 24 27;

  /* light:layer-2 */
  --light-layer-2-bg: 228 228 231;
  --light-layer-2-text: 24 24 27;

  /* light:layer-3 */
  --light-layer-3-bg: 212 212 216;
  --light-layer-3-text: 24 24 27;

  /* light:layer-4 */
  --light-layer-4-bg: 161 161 170;
  --light-layer-4-text: 24 24 27;

  /* light:layer-5 */
  --light-layer-5-bg: 113 113 122;
  --light-layer-5-text: 24 24 27;
}

.dark {
  /* --colors-layer-0: var(--dark-layer-0-bg);
  --colors-layer-1: var(--dark-layer-1-bg);
  --colors-layer-2: var(--dark-layer-2-bg);
  --colors-layer-3: var(--dark-layer-3-bg);
  --colors-layer-4: var(--dark-layer-4-bg);
  --colors-layer-5: var(--dark-layer-5-bg); */
  --colors-layer-0: 29 21 124;
  --colors-layer-1: 80 29 166;
  --colors-layer-2: 110 36 179;
  --colors-layer-3: 133 48 197;
  --colors-layer-4: 154 64 218;
  --colors-layer-5: 189 69 255;
  --dark-layer-0-bg: 29 21 124;
  --dark-layer-1-bg: 80 29 166;
  --dark-layer-2-bg: 110 36 179;
  --dark-layer-3-bg: 133 48 197;
  --dark-layer-4-bg: 154 64 218;
  --dark-layer-5-bg: 189 69 255;
  --colors-text: 255 173 255;

  /* layer-0 */
  --layer-0-bg: 29 21 124;
  --layer-0-text: 255 173 255;

  /* layer-1 */
  --layer-1-bg: var(--dark-layer-1-bg);
  --layer-1-text: var(--dark-layer-1-text);

  /* layer-2 */
  --layer-2-bg: var(--dark-layer-2-bg);
  --layer-2-text: var(--dark-layer-2-text);

  /* layer-3 */
  --layer-3-bg: var(--dark-layer-3-bg);
  --layer-3-text: var(--dark-layer-3-text);

  /* layer-4 */
  --layer-4-bg: var(--dark-layer-4-bg);
  --layer-4-text: var(--dark-layer-4-text);

  /* layer-5 */
  --layer-5-bg: var(--dark-layer-5-bg);
  --layer-5-text: var(--dark-layer-5-text);
}

@media (prefers-color-scheme: dark) {
  .auto {
    --colors-layer-0: var(--dark-layer-0-bg);
    --colors-layer-1: var(--dark-layer-1-bg);
    --colors-layer-2: var(--dark-layer-2-bg);
    --colors-layer-3: var(--dark-layer-3-bg);
    --colors-layer-4: var(--dark-layer-4-bg);
    --colors-layer-5: var(--dark-layer-5-bg);
    --colors-text: 212 212 216;

    /* layer-0 */
    --layer-0-bg: var(--dark-layer-0-bg);
    --layer-0-text: var(--dark-layer-0-text);

    /* layer-1 */
    --layer-1-bg: var(--dark-layer-1-bg);
    --layer-1-text: var(--dark-layer-1-text);

    /* layer-2 */
    --layer-2-bg: var(--dark-layer-2-bg);
    --layer-2-text: var(--dark-layer-2-text);

    /* layer-3 */
    --layer-3-bg: var(--dark-layer-3-bg);
    --layer-3-text: var(--dark-layer-3-text);

    /* layer-4 */
    --layer-4-bg: var(--dark-layer-4-bg);
    --layer-4-text: var(--dark-layer-4-text);

    /* layer-5 */
    --layer-5-bg: var(--dark-layer-5-bg);
    --layer-5-text: var(--dark-layer-5-text);
  }
}

.light {
  --colors-layer-0: var(--light-layer-0-bg);
  --colors-layer-1: var(--light-layer-1-bg);
  --colors-layer-2: var(--light-layer-2-bg);
  --colors-layer-3: var(--light-layer-3-bg);
  --colors-layer-4: var(--light-layer-4-bg);
  --colors-layer-5: var(--light-layer-5-bg);
  --colors-text: 24 24 27;

  /* layer-0 */
  --layer-0-bg: var(--light-layer-0-bg);
  --layer-0-text: var(--light-layer-0-text);

  /* layer-1 */
  --layer-1-bg: var(--light-layer-1-bg);
  --layer-1-text: var(--light-layer-1-text);

  /* layer-2 */
  --layer-2-bg: var(--light-layer-2-bg);
  --layer-2-text: var(--light-layer-2-text);

  /* layer-3 */
  --layer-3-bg: var(--light-layer-3-bg);
  --layer-3-text: var(--light-layer-3-text);

  /* layer-4 */
  --layer-4-bg: var(--light-layer-4-bg);
  --layer-4-text: var(--light-layer-4-text);

  /* layer-5 */
  --layer-5-bg: var(--light-layer-5-bg);
  --layer-5-text: var(--light-layer-5-text);
}

@media (prefers-color-scheme: light) {
  .auto {
    --colors-layer-0: var(--light-layer-0-bg);
    --colors-layer-1: var(--light-layer-1-bg);
    --colors-layer-2: var(--light-layer-2-bg);
    --colors-layer-3: var(--light-layer-3-bg);
    --colors-layer-4: var(--light-layer-4-bg);
    --colors-layer-5: var(--light-layer-5-bg);
    --colors-text: 24 24 27;

    /* layer-0 */
    --layer-0-bg: var(--light-layer-0-bg);
    --layer-0-text: var(--light-layer-0-text);

    /* layer-1 */
    --layer-1-bg: var(--light-layer-1-bg);
    --layer-1-text: var(--light-layer-1-text);

    /* layer-2 */
    --layer-2-bg: var(--light-layer-2-bg);
    --layer-2-text: var(--light-layer-2-text);

    /* layer-3 */
    --layer-3-bg: var(--light-layer-3-bg);
    --layer-3-text: var(--light-layer-3-text);

    /* layer-4 */
    --layer-4-bg: var(--light-layer-4-bg);
    --layer-4-text: var(--light-layer-4-text);

    /* layer-5 */
    --layer-5-bg: var(--light-layer-5-bg);
    --layer-5-text: var(--light-layer-5-text);
  }
}

@layer base {
  .layer-0 {
    @apply bg-layer-0-bg text-layer-0-text;
  }

  .layer-1 {
    @apply bg-layer-1-bg text-layer-1-text;
  }

  .layer-2 {
    @apply bg-layer-2-bg text-layer-2-text;
  }

  .layer-3 {
    @apply bg-layer-3-bg text-layer-3-text;
  }

  .layer-4 {
    @apply bg-layer-4-bg text-layer-4-text;
  }

  .layer-5 {
    @apply bg-layer-5-bg text-layer-5-text;
  }
}

@layer components {
  .button {
    @apply inline-flex items-center rounded cursor-pointer focus:outline-none focus:ring focus-within:ring;
  }

  .core-button {
    @apply core-button-shape cursor-pointer outline-none focus:ring focus-within:ring disabled:text-opacity-50 whitespace-nowrap;
  }

  .core-button-shape {
    @apply text-text p-2 rounded flex gap-3 items-center justify-center;
  }

  .text-theme {
    @apply text-brand;
  }

  .october .text-theme {
    color: #eb6123;
  }

  /* utils */
  .ligatures-none {
    font-variant-ligatures: none;
  }

  .ligatures-normal {
    font-variant-ligatures: normal;
  }

  .flex-basis-1\/2 {
    flex-basis: 50%;
  }

  .flex-basis-1\/3 {
    flex-basis: 33%;
  }

  .flex-basis-2\/3 {
    flex-basis: 66%;
  }

  .has-tooltip {
    @apply relative cursor-pointer;
  }

  .has-tooltip:hover .tooltip {
    @apply visible;
  }

  .tooltip {
    @apply invisible absolute z-50 ml-2 w-48 text-xs;
  }

  .unset-all {
    all: unset;
  }

  /* vue router */
  .allow-link-active.router-link-active,
  .sidebar-link.router-link-exact-active,
  .sidebar-button.router-link-exact-active {
    @apply md:bg-gray-200 md:dark:bg-gray-900 md:bg-opacity-50 md:dark:bg-opacity-50;
  }

  /* form */
  .button {
    @apply button-flat shadow;
  }

  .button-flat {
    @apply button-base justify-center lg:justify-between;
  }

  .button-base {
    @apply inline-flex items-center rounded cursor-pointer focus:outline-none focus:ring focus-within:ring;
  }

  .button-size-small {
    @apply px-2 py-1;
  }

  .button-size-medium {
    @apply px-3 py-2;
  }

  .button-color-gray {
    @apply bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700;
  }

  .button-color-surface {
    @apply bg-gray-200 dark:bg-gray-900 hover:bg-gray-300 dark:hover:bg-gray-800;
  }

  .button-color-blue {
    @apply bg-blue-300 hover:bg-blue-400 dark:bg-blue-500 dark:hover:bg-blue-600;
  }

  .form-button {
    @apply button button-size-medium button-color-gray;
  }

  .form-text {
    @apply block rounded px-3 py-2 shadow bg-gray-100 dark:bg-gray-800 focus:outline-none focus:ring;
  }

  .radio {
    @apply appearance-none outline-none rounded-full border-4 cursor-pointer border-gray-300 dark:border-white bg-gray-300 dark:bg-white checked:bg-blue-500 dark:checked:bg-blue-500 disabled:bg-gray-500 dark:disabled:bg-gray-500 w-4 h-4;
  }

  .checkbox {
    @apply appearance-none outline-none rounded-sm border-4 cursor-pointer border-gray-300 dark:border-white bg-gray-300 dark:bg-white checked:bg-blue-500 dark:checked:bg-blue-500 disabled:bg-gray-500 dark:disabled:bg-gray-500 w-4 h-4;
  }

  /* sidebar */
  .sidebar-button {
    @apply flex items-center justify-between rounded mb-2 p-6 md:p-2 bg-gray-200 dark:bg-gray-800 md:dark:bg-gray-900 hover:bg-gray-300 dark:hover:bg-gray-700 md:dark:hover:bg-gray-800 focus:outline-none focus:ring;
  }

  .sidebar-label {
    @apply flex items-center justify-between text-sm p-6 md:px-2 text-gray-500;
  }

  .sidebar-link {
    @apply flex items-center justify-between rounded mb-2 md:mb-1 p-2 bg-layer-1 hover:bg-layer-2 focus:outline-none focus:ring;
  }

  .context-label {
    @apply flex items-center justify-between text-sm p-6 md:py-2 md:px-1.5 md:mb-2 text-gray-500;
  }

  .context-tag {
    @apply flex items-center justify-between rounded p-6 md:p-2 bg-gray-100 dark:bg-gray-800 md:bg-transparent md:dark:bg-transparent hover:bg-gray-200 dark:hover:bg-gray-700 md:dark:hover:bg-gray-900 focus:outline-none focus:ring;
  }
}
