
.md-plus .editable[data-v-09413bbb] {
    font-size: 1.1em;
}
.editor[data-v-09413bbb] {
    --ink-font-family: 'Inter', helvetica, sans-serif;
    --ink-code-font-family: 'Fira Code', monospace;
}
@media (max-width: 767px) {
[data-v-09413bbb] .ink-mde-toolbar {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
}
[data-v-09413bbb] .ink-mde .ink-mde-toolbar .ink-mde-container {
      gap: 0;
}
[data-v-09413bbb] .ink-mde .ink-mde-editor {
      padding-top: 2rem;
}
[data-v-09413bbb] .ink-mde .ink-mde-details {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
}
}
[data-v-09413bbb] .ink-mde {
    border: none;
    border-radius: 0;
}
[data-v-09413bbb] .ink-mde .ink-mde-container {
    max-width: var(--650980ba);
}
[data-v-09413bbb] .ink-editor .ink-mde-widget svg {
    margin: auto;
}
.ink-editor[data-v-09413bbb] .cm-editor.cm-focused {
    outline: none;
}
