
.md-plus .editable[data-v-95a99f0f] {
    font-size: 1.1em;
}
.editor[data-v-95a99f0f] {
    --ink-flex-direction: column-reverse;
    --ink-font-family: 'Inter', helvetica, sans-serif;
    --ink-code-font-family: 'Fira Code', monospace;
    --ink-editor-padding: 0;
}
@media (min-width: 768px) {
.editor[data-v-95a99f0f] {
      --ink-flex-direction: column;
}
}
.editor .editable[data-v-95a99f0f] {
    white-space: pre-wrap;
}
.editor .gutter[data-v-95a99f0f] {
    cursor: text;
    min-height: 1rem;
    width: 100%;
}
.ink-editor[data-v-95a99f0f] {
    height: 100%;
}
[data-v-95a99f0f] .ink-editor > div:first-child,[data-v-95a99f0f] .ink-editor .cm-editor {
    height: 100%;
}
[data-v-95a99f0f] .ink-editor .ink-mde-widget svg {
    margin: auto;
}
.ink-editor[data-v-95a99f0f] .cm-editor.cm-focused {
    outline: none;
}
