
.md-plus .editable[data-v-79ca0d0e] {
    font-size: 1.1em;
}
.editor[data-v-79ca0d0e] {
    --ink-font-family: 'Inter', helvetica, sans-serif;
    --ink-code-font-family: 'Fira Code', monospace;
}
@media (max-width: 767px) {
[data-v-79ca0d0e] .ink-mde-toolbar {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
}
[data-v-79ca0d0e] .ink-mde .ink-mde-toolbar .ink-mde-container {
      gap: 0;
}
[data-v-79ca0d0e] .ink-mde .ink-mde-editor {
      padding-top: 2rem;
}
[data-v-79ca0d0e] .ink-mde .ink-mde-details {
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
}
}
@media (min-width: 768px) {
[data-v-79ca0d0e] .ink-mde .ink-mde-toolbar {
      background-color: transparent;
      background: repeating-linear-gradient(135deg, transparent, transparent 10px, var(--colors-layer-1) 10px, var(--colors-layer-1) 11px);
      border-bottom: 2px solid var(--colors-layer-1);
      padding-bottom: calc(0.25rem + 2px);
}
[data-v-79ca0d0e] .ink-mde .ink-mde-toolbar .ink-mde-container {
      background-color: var(--colors-layer-1);
      border-radius: 0.25rem;
      padding: 0.25rem;
}
}
[data-v-79ca0d0e] .ink-mde {
    border: none;
    border-radius: 0;
}
[data-v-79ca0d0e] .ink-mde .ink-mde-container {
    max-width: var(--56e28866);
}
[data-v-79ca0d0e] .ink-editor .ink-mde-widget svg {
    margin: auto;
}
.ink-editor[data-v-79ca0d0e] .cm-editor.cm-focused {
    outline: none;
}
