.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* keyword */
  color: #f47067;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* entity */
  color: #dcbdfb;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* constant */
  color: #abb2bf;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* string */
  color: #98c379;
}

.hljs-built_in,
.hljs-symbol {
  /* variable */
  color: #e06c75;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* comment */
  color: #abb2bf;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* name */
  color: #d19a66;
}

.hljs-subst {
  /* storage-modifier-import */
  color: #adbac7;
}

.hljs-section {
  /* heading */
  color: #e06c75;
  font-weight: bold;
}

.hljs-bullet {
  /* list */
  color: #eac55f;
}

.hljs-emphasis {
  /* italic */
  font-style: italic;
}

.hljs-strong {
  /* bold */
  font-weight: bold;
}

.hljs-addition {
  /* inserted */
}

.hljs-deletion {
  /* deleted */
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}
